<ion-header>
  <ion-toolbar>
    <ion-title>Produtos Cadastrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-button (click)="cadNovo()" color="prezu">Cadastrar Produtos</ion-button>
  </ion-item>

    <ion-item>
      <ion-label>Produto</ion-label>
      <ion-label>Valor</ion-label>
      <ion-label>Validade</ion-label>
    </ion-item>
    
    <ion-item *ngFor="let produto of listaProdutos">
      <ion-label>{{produto.nome}}</ion-label>
      <ion-label>R${{produto.valor}}</ion-label>
      <ion-label>{{produto.dataVal}}</ion-label>
    </ion-item>
  
</ion-content>
