<ion-content [fullscreen]="true">
  <ion-card class="wrapper" color="prezu">
    <ion-card-header>
      <ion-card-subtitle>Cadastro de Produto</ion-card-subtitle>
      <ion-icon name="add-circle"></ion-icon>
    </ion-card-header>

    <ion-item color="prezu">
      <ion-label>Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="prezu">
      <ion-label>Descrição</ion-label>
      <ion-textarea
        placeholder="Informe a descrição do produto"
        [clearOnEdit]="true"
      >
      </ion-textarea>
    </ion-item>

    <ion-item color="prezu">
      <ion-label>Data de Validade</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>

    <ion-item color="prezu">
      <ion-label>Valor</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button color="prezu">Concluir</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
